<style>
.button {
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 25px;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
.button:hover {
    border-radius: 12px;
    background-color: darkred;
}
</style>
<div class="logo">
    <img src="https://webpages.uncc.edu/ddas4/SoftwareEngFinalProject/output-onlinepngtools.png" align="left" width="400px" height="210px"/><h1 style="font-size:64pt;">RANK MY RIDE</h1>
</div>

<%= image_tag @submission.image.url(:large) %>

<p>
    <strong>Title:</strong>
    <%= @submission.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @submission.text %>  
</p>

<button type="button" class="button"><%= link_to 'BACK TO RANKING', submissions_path %></button>